
@main("Demo-Play,Java,Spring,Bootstrap,AngularJs") {

<div ng-app="" ng-controller="customersController">

<div class="container-fluid">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Save your E-mail address</h3>
        </div>
        <div class="panel-body">
            <form class="form-horizontal">

                <label for="email">Email:</label>
                <div class="input-group">
                    <input class="form-control" type="text" id="email" ng-model="email" placeholder="Enter email">

			        <span class="input-group-btn">
                        <button class="btn btn-primary" type="button" id="open-modal" ng-click="register()">Save</button>
				    </span>

                </div>
            </form>

        <!-- Modal HTML -->
       <div class="confirm-popUp">
        <div id="myModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">{{confirmStatus}}</h4>
                    </div>
                    <div class="modal-body">
                        <p>{{confirmMsg}}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
            </div>
        </div>
    </div>
    </div>
</div>

}
